 <tr>
  <td colspan="2" style="padding-top: 15px;">
    <h1 style="text-align: center; margin: 0;">
      <span style="color: #f9a21e;">Tips de Business.</span> 
    </h1>
  </td>
</tr>
<tr>
  <td style="border-bottom: solid 3px #f9a21e;">
    &nbsp;
  </td>
  <td style="border-bottom: solid 3px #f9a21e;">
    &nbsp;
  </td>
</tr>