<html>
   <head charset="utf-8">
       <title>Tips de Business</title>
   </head>
   <body>
        <table style="width: 650px; font-family: Arial; font-size: 16px; line-height: 29px;" align="center" cellspacing="0" cellpadding="0">
            <header>
                {{> header }}
            </header>
            {{{body}}}
            <footer>
                {{> footer }}
            </footer>
        </table>
   </body>
</html>
