<tr>
  <td colspan="2" style="padding-top: 15px;">
    <p style="text-align: justify; padding: 25px;">
      Hola
      <span style="font-weight: 600; color: #f9a21e;">{{fullName}}</span>,
      <br/><br/>
      Has solicitado la información de tu nombre de usuario.
      <br/><br/>
      Tu nombre de usuario es:
      <span style="font-weight: 600;">{{username}}</span>
      <br/><br/>
      Saludos
      <br/><br/>
      <span style="color: #f9a21e; font-weight: bold;">Tips de Business..</span>
      <br/><br/>
      <span
        style="text-decoration: none; color: #f9a21e; font-weight: bold; text-decoration: underline;"
      >noresponder@meetmas.com</span>.
    </p>
  </td>
</tr>